//background
$background-white: #ffffff;
$background-grey: #fafafa;

//story border colors
$gradient-one: #da3394;
$gradient-two: #e03c67;
$gradient-three: #f3753b;
$gradient-four: #f99b4a;

//font colors
$primary-font: #262626;
$secondary-font: #8e8e8e;

//footer
$footer: #c7c7c7;

//borders
$primary-border: #dbdbdb;
$secondary-border: #efefef;

//links
$primary-link: #0095f6;
$secondary-link: #b3dffc;

//font
$font: "Montserrat", sans-serif;